body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
}

#carousel {
  min-height: 235px;
}

.review {
  /* background-color: #E2E8F0; */
  padding: 20px;
  margin: 16px;
  border-radius: 12px;
  scroll-snap-align: start;
  width: 85%;
  max-width: 350px;
}

.stars-row {

}

.star {
  font-size: 1.2rem;
  color: #FF9000;
}

.title {
  margin: 12px 0px;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 0px;
}

.testimonials {
  max-width: 350px;
  margin: auto;
}

.scroller {
  overflow-x: scroll;
  display: flex;
}

.review {
  min-width: 100%;
  min-width: calc(100% - 40px);
  min-height: 100px;
  background-color: #EDF2F7;
}

.scroller {
  scroll-snap-type: x mandatory;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}